<ion-header *ngIf="isStartScreen">
  <ion-toolbar color="#585ab8">
    <ion-title >
      Memory
    </ion-title>
    <ion-button allow="autoplay" href="https://www.youtube.com/embed/xvFZjo5PgG0?autoplay=1" slot="end" color="danger"> Exit game</ion-button>
  </ion-toolbar>
</ion-header>

<!-- <ion-header *ngIf="gameScreen">
  <ion-toolbar color="#585ab8">
    <ion-title >
      Memory
    </ion-title>
    <ion-button allow="autoplay" href="https://www.youtube.com/embed/xvFZjo5PgG0?autoplay=1" slot="end" color="danger"> Exit game</ion-button>
  </ion-toolbar>
</ion-header> -->


<!-- <ion-content fullscreen *ngIf="isStartScreen"> -->

<!-- <ion-content  >

  <h1 class="readyToPlay">Are you ready to play?</h1>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img  src="../assets/playIcons/player1.svg"/>
      </ion-col>

      <ion-col class="ion-text-center">
        <img src="../assets/playIcons/player2.svg"/>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-input  clearInput="true" [(ngModel)]="player1Name" placeholder="Enter your name"></ion-input>

      <ion-input clearInput="true" [(ngModel)]="player2Name" placeholder="Enter your name"></ion-input>

    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="success" (click)="shownames()">Let's play</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content> -->

<!-- <ion-content fullscreen *ngIf="gameScreen"> -->
<ion-content  >

  
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-label >
        Memory
        </ion-label >
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button  color="warning"> Restart game</ion-button>
        <ion-button  color="danger"> Exit game</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <ion-card class="card-class">
          <img  src="../assets/playIcons/player1.svg"/>
          <ion-card-header>
            <ion-card-title>{{this.player1Name}}</ion-card-title>
            <ion-card-title>Score: </ion-card-title>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card class="card-class">
          <img src="../assets/playIcons/player2.svg"/>
          <ion-card-header>
            <ion-card-title>{{this.player2Name}}</ion-card-title>
            <ion-card-title>Score</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      
    </ion-row>

   
  </ion-grid>

</ion-content>

