<ion-header >
  <ion-toolbar color="#585ab8">
    <ion-title >
      Memory
    </ion-title>
    <ion-button slot="end" color="danger"> Exit game</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="isStartScreen">

  <h1 class="readyToPlay">Are you ready to play?</h1>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img  src="../assets/playIcons/player1.svg"/>
      </ion-col>

      <ion-col class="ion-text-center">
        <img src="../assets/playIcons/player2.svg"/>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-input  clearInput="true" [(ngModel)]="player1Name" placeholder="Enter your name"></ion-input>

      <ion-input  clearInput="true" [(ngModel)]="player2Name" placeholder="Enter your name"></ion-input>

    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="success" (click)="shownames()">Let's play</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

