<ion-header *ngIf="isStartScreen">
  <ion-toolbar color="#585ab8">
    <ion-title >
      Memory
    </ion-title>
    <ion-button allow="autoplay" href="https://www.youtube.com/embed/xvFZjo5PgG0?autoplay=1" slot="end" color="danger"> Exit game</ion-button>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen *ngIf="isStartScreen">


  <h1 class="readyToPlay">Are you ready to play?</h1>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img  src="../assets/playIcons/player1.svg"/>
      </ion-col>

      <ion-col class="ion-text-center">
        <img src="../assets/playIcons/player2.svg"/>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-input  clearInput="true" [(ngModel)]="player1Name" placeholder="Enter your name"></ion-input>

      <ion-input clearInput="true" [(ngModel)]="player2Name" placeholder="Enter your name"></ion-input>

    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="success" (click)="letsPlay()">Let's play</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-content fullscreen *ngIf="gameScreen">
  
  <ion-grid>
    <ion-row>
        <h1 style="margin-right: 0%;" class="readyToPlay">Memory</h1>
      
      <ion-col class="ion-text-end">
        
        <ion-button color="warning" (click)="ngOnInit()"> Restart game</ion-button>
        <ion-button  color="danger"> Exit game</ion-button>
      </ion-col>
    </ion-row>
   
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="ion-align-items-center ion-justify-content-center" size="1">
           <ion-card  class="card-class">
              <img  src="../assets/playIcons/player1.svg"/>
              <ion-card-header>
              <ion-card-title>{{this.player1["name"]}}</ion-card-title>
              <ion-card-title>Score: {{this.player1["score"]}}</ion-card-title>
         </ion-card-header>
       </ion-card>
     </ion-col>
     <ion-col size="6">
         <ion-grid>
             <ion-row class="ion-text-center">
                 <ion-col size="0.9" *ngFor="let c of images; let i = index">
                     <img src="../assets/cards/cardBackground/cardBackground.png" *ngIf="!c.isFlipped" (click)="selectCard(c)"/>
                     <img [src]="imageDir + c.name +  '.png'" *ngIf="c.isFlipped && !c.isMatched"  (click)="selectCard(c)"/>
                 </ion-col>
             </ion-row>
         </ion-grid>
     </ion-col>
     <ion-col size="1">
         <ion-card class="card-class">
             <img src="../assets/playIcons/player2.svg"/>

             <ion-card-header>
                 <ion-card-title>{{this.player2["name"]}}</ion-card-title>
                 <ion-card-title>Score: {{this.player2["score"]}}</ion-card-title>
             </ion-card-header>
          </ion-card>
     </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button>Who's turn: {{this.currentActivePlayer}}</ion-button>
    </ion-col>
  </ion-row>

  </ion-grid>

</ion-content>


<ion-content *ngIf="gameDone">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <h1>Well Done!</h1>
        <h1>{{winnerName}}</h1>
      </ion-col>
      
    </ion-row>

    <ion-row class="ion-text-center">
      <!-- insert picture -->
      <ion-col>
        <ion-card class="card-class">
          <img src="../assets/playIcons/winner.svg"/>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">

      <ion-col>
        <ion-button color="success">1st place {{winnerName}} Score:{{winnerScore}}</ion-button>
      </ion-col>
      
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button>2nd place {{didNotWin}} Score:{{didNotWinScore}}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="success" (click)="playAgain()">PLAY AGAIN</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>



